*{padding:0;margin:0;box-sizing: border-box;}
#bgm{
    float: right;
    right: 1em;
}
body{
    background-image: url("images/background_0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#page_head{
    height: 4em;
}
#title{
    color: wheat;
    text-align: center;
    padding: 0;
}
#subtitle{
    text-indent: 10em;
    text-decoration: line-through blink;
}
#link_list{
    float: left;
    text-align: center;
    height: 25em;
    width: 15em;
    background: white;
}
#link_table{
    padding: 0;
}
#add_permission{
    float: right;
    background-color: white;
    height: 15em;
    width: 15em;
}
a:link {color: aquamarine;}
a:hover {color: crimson;}
a:visited {color: aquamarine;}
a:active {color: deeppink;}